:root {
    --path: path('M265,150 L266,153 L265,159 L265,165 L265,170 L264,176 L263,183 L261,188 L259,194 L256,200 L253,205 L249,210 L246,215 L242,220 L237,225 L233,230 L228,234 L223,238 L217,242 L212,245 L206,248 L200,251 L194,254 L188,256 L181,257 L175,258 L168,259 L161,260 L155,260 L148,259 L141,259 L134,257 L128,256 L121,254 L115,251 L109,248 L103,245 L97,241 L92,237 L86,233 L82,228 L77,223 L73,217 L69,212 L65,205 L62,199 L60,193 L58,186 L56,179 L55,172 L55,165 L55,158 L55,150 L57,143 L58,136 L61,129 L64,123 L67,116 L71,110 L76,104 L81,99 L87,94 L93,89 L99,85 L106,82 L113,80 L121,78 L129,77 L136,76 L144,77 L152,79 L160,81 L167,84 L174,89 L180,94 L186,100 L190,106 L194,114 L197,122 L198,130 L197,138 L196,147 L192,154 L187,161 L180,166 L173,170 L165,171 L157,170 L151,167 L147,162 L145,157 L146,153 L150,150');
    --path2: path('M35,150 34,147 35,141 35,135 35,130 36,124 37,117 39,112 41,106 44,100 47,95 51,90 54,85 58,80 63,75 67,70 72,66 77,62 83,58 88,55 94,52 100,49 106,46 112,44 119,43 125,42 132,41 139,40 145,40 152,41 159,41 166,43 172,44 179,46 185,49 191,52 197,55 203,59 208,63 214,67 218,72 223,77 227,83 231,88 235,95 238,101 240,107 242,114 244,121 245,128 245,135 245,142 245,150 243,157 242,164 239,171 236,177 233,184 229,190 224,196 219,201 213,206 207,211 201,215 194,218 187,220 179,222 171,223 164,224 156,223 148,221 140,219 133,216 126,211 120,206 114,200 110,194 106,186 103,178 102,170 103,162 104,153 108,146 113,139 120,134 127,130 135,129 143,130 149,133 153,138 155,143 154,147 150,150');
}

.wrapper {
    position: relative;
}

.obj {
    --color: black;
    position: absolute;
    top: 0;
    left: 0;
    offset-path: var(--path);
    animation: move 4500ms infinite linear;
    width: 1.0rem;
    height: 1.0rem;
    border-radius: 50%;
    background-color: var(--color);
    opacity: 0;
}

.obj--2 {
    offset-path: var(--path2);
}



svg {
    width: 300px;
}


@keyframes move {
    10% {
        opacity: 1;
        offset-distance: 0%;
    }
    90% {
        opacity: 1;
        offset-distance: 100%;
    }
    100% {
        opacity: 0;
        offset-distance: 100%;
    }
}
