@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
    font-size: 11pt;
    width:100%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.5em 30px 1.2em 45px;
    border-left:8px solid rgba(255, 0, 0, 0.65);
    line-height:1.6;
    position: relative;
    /*background:#EDEDED;*/
}

blockquote::before{
    font-family:Arial;
    content: "\201C";
    color: rgba(255, 0, 0, 0.65);
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}

blockquote::after{
    content: '';
}

blockquote span{
    display:block;
    color:#333333;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}